body,html {height:100%;}

body {
    width:100%;
}

.screen {
	height: 100%;
	text-align:center;
	position:relative;
}

.jumbotron {
	margin:0;
}

.intro {
    background:#333;
    color:#ddd;
    padding-bottom:100px;
}

.screen .content {
	width:100%;
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
}